slideshow-component {
  position: relative;
  display: flex;
  flex-direction: column;
}

slideshow-component .slideshow.banner {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  gap: 0;
  overflow-y: hidden;
}


.led-border {
  position: relative;
  width: 300px;
  height: 300px;
  padding: 16px;
  text-align: center;

  overflow: hidden;
  background: transparent;

  /* Borde animado */
  box-sizing: border-box;
  
  /* Colores dinámicos */
  animation: pulse-border 3s ease-in-out infinite alternate;

  /* Efecto de desenfoque */
  box-shadow: inset 0 0 10px 5px rgba(255, 0, 0, 0.5),
              inset 0 0 15px 7px rgba(0, 0, 255, 0.4),
              inset 0 0 20px 10px rgba(0, 255, 255, 0.3);
}

@keyframes pulse-border {
  0% {
    box-shadow: inset 0 0 10px 5px rgba(255, 0, 0, 0.5),
                inset 0 0 15px 7px rgba(0, 0, 255, 0.4),
                inset 0 0 20px 10px rgba(0, 255, 255, 0.3);
  }
  20% {
    box-shadow: inset 0 0 10px 5px rgba(255, 165, 0, 0.5),
                inset 0 0 15px 7px rgba(0, 255, 0, 0.4),
                inset 0 0 20px 10px rgba(255, 255, 0, 0.3);
  }
  40% {
    box-shadow: inset 0 0 10px 5px rgba(0, 255, 0, 0.5),
                inset 0 0 15px 7px rgba(255, 20, 147, 0.4),
                inset 0 0 20px 10px rgba(0, 255, 255, 0.3);
  }
  60% {
    box-shadow: inset 0 0 10px 5px rgba(0, 0, 255, 0.5),
                inset 0 0 15px 7px rgba(255, 255, 255, 0.4),
                inset 0 0 20px 10px rgba(255, 165, 0, 0.3);
  }
  80% {
    box-shadow: inset 0 0 10px 5px rgba(255, 255, 0, 0.5),
                inset 0 0 15px 7px rgba(0, 255, 255, 0.4),
                inset 0 0 20px 10px rgba(255, 0, 255, 0.3);
  }
  100% {
    box-shadow: inset 0 0 10px 5px rgba(255, 20, 147, 0.5),
                inset 0 0 15px 7px rgba(0, 255, 0, 0.4),
                inset 0 0 20px 10px rgba(0, 0, 255, 0.3);
  }
}


/* Contenedor principal */

.nieve {
  position: absolute;
  top: 0;
  
  left: -3px;
  width: 50.2vw;
  height: 143vh;
  overflow: hidden;
 
  margin-right: 369px;
  z-index: 1;
}
/* Partículas de nieve */
.snowflake {
  position: absolute;
  width: 15px;
  height: 15px;
  margin-bottom: 20px;
  animation: caer 10s linear infinite, mover 4s ease-in-out infinite;
  opacity: 0.8;
  margin: 50px; 
}

/* Variación de tamaño */
.snowflake:nth-child(1) {
  width: 50px;
  height: 50px;
  margin: 50px;
  animation-duration: 4s;
}

.snowflake:nth-child(2) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 6s;
}

.snowflake:nth-child(3) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 5.5s;
}

.snowflake:nth-child(4) {
  width: 20px;
  margin: 50px; 
  height: 20px;
  animation-duration: 4.2s;
}

.snowflake:nth-child(5) {
  width: 10px;
  margin: 50px;
  height: 10px;
  animation-duration: 5s;
}

.snowflake:nth-child(6) {
  width: 20px;
  margin: 50px; 
  margin:30px;
  height: 20px;
  animation-duration: 5s;
}

.snowflake:nth-child(7) {
  width: 20px;
  height: 20px;
  margin: 50px;
  animation-duration: 5s;
}
.snowflake:nth-child(8) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 5s;
}
.snowflake:nth-child(9) {
  width: 20px;
  height: 20px;
  margin: 50px;
  animation-duration: 5s;
}
.snowflake:nth-child(10) {
  width: 20px;
  height: 20px;
  margin: 50px;
  animation-duration: 5s;
}
.banner-custom{
  background-color: red;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
/* Animación de caída */
@keyframes caer {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Movimiento horizontal aleatorio */
@keyframes mover {
  0% {
    left: 0;
    transform-origin: top;
  }
  50% {
    left: 50%;
    transform-origin: center;
  }
  100% {
    left: 100%;
    transform-origin: right;
  }
}
.nieve2 {
  position: absolute;
  top: 0;
  
  left: -3px;
  width: 50.2vw;
  height: 143vh;
  overflow: hidden;
 
  margin-right: 369px;
  z-index: 1;
}
/* Partículas de nieve */
.snowflake2 {
  position: absolute;
  width: 15px;
  height: 15px;
  animation: caer 10s linear infinite, mover 4s ease-in-out infinite;
  opacity: 0.8;
  margin: 50px; 
}

/* Variación de tamaño */
.snowflake2:nth-child(1) {
  width: 50px;
  height: 50px;
  margin: 100px; 
  animation-duration: 4s;
}

.snowflake2:nth-child(2) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 6s;
}

.snowflake2:nth-child(3) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 5.5s;
}

.snowflake2:nth-child(4) {
  width: 20px;
  margin: 50px; 
  height: 20px;
  animation-duration: 4.2s;
}

.snowflake2:nth-child(5) {
  width: 20px;
  margin: 50px; 
  height: 20px;
  animation-duration: 5s;
}

.snowflake2:nth-child(6) {
  width: 20px;
  margin: 50px; 
  margin:30px;
  height: 20px;
  animation-duration: 5s;
}

.snowflake2:nth-child(7) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 5s;
}
.snowflake2:nth-child(8) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 5s;
}
.snowflake2:nth-child(9) {
  width: 20px;
  height: 20px;
  margin: 50px;  
  animation-duration: 5s;
}
.snowflake2:nth-child(10) {
  width: 20px;
  height: 20px;
  margin: 50px; 
  animation-duration: 5s;
}

/* Animación de caída */
@keyframes caer {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100vh);
  }
}

/* Movimiento horizontal aleatorio */
@keyframes mover {
  0% {
      left: 0;
      transform-origin: top;
  }
  25% {
      left: 25%;
      transform-origin: top;
  }
  50% {
      left: 50%;
      transform-origin: center;
  }
  75% {
      left: 75%;
      transform-origin: bottom;
  }
  100% {
      left: 100%;
      transform-origin: right;
  }
}
.slideshow__slide {
  padding: 0;
  position: relative;
  display: flex;
  flex-direction: column;
  visibility: visible;
}

@media screen and (max-width: 749px) {
  .slideshow--placeholder.banner--mobile-bottom.banner--adapt_image .slideshow__media,
  .slideshow--placeholder.banner--adapt_image:not(.banner--mobile-bottom) {
    height: 28rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow--placeholder.banner--adapt_image {
    height: 56rem;
  }
}

.slideshow__text.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 54.5rem;
}

.slideshow__text > * {
  max-width: 100%;
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__text {
    border-right: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
    border-left: var(--text-boxes-border-width) solid rgba(var(--color-foreground), var(--text-boxes-border-opacity));
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    max-width: 100%;
  }

  .banner--mobile-bottom .slideshow__text-wrapper {
    flex-grow: 1;
  }

  .banner--mobile-bottom .slideshow__text.banner__box {
    height: 100%;
  }

  .banner--mobile-bottom .slideshow__text .button {
    flex-grow: 0;
  }

  .slideshow__text.slideshow__text-mobile--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text-mobile--right {
    align-items: flex-end;
    text-align: right;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__text.slideshow__text--left {
    align-items: flex-start;
    text-align: left;
  }

  .slideshow__text.slideshow__text--right {
    align-items: flex-end;
    text-align: right;
  }
}

.slideshow:not(.banner--mobile-bottom) .slideshow__text-wrapper {
  height: 100%;
}

@media screen and (min-width: 750px) {
  .slideshow__text-wrapper.banner__content {
    height: 100%;
    padding: 5rem;
  }
}

.slideshow__controls {
  border: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.slideshow__controls--top {
  order: 2;
  z-index: 1;
}

@media screen and (max-width: 749px) {
  .slideshow__controls--border-radius-mobile {
    border-bottom-right-radius: var(--text-boxes-radius);
    border-bottom-left-radius: var(--text-boxes-radius);
  }
}

.spaced-section--full-width:last-child slideshow-component:not(.page-width) .slideshow__controls {
  border-bottom: none;
}

@media screen and (min-width: 750px) {
  .slideshow__controls {
    position: relative;
  }
}

slideshow-component:not(.page-width) .slider-buttons {
  border-right: 0;
  border-left: 0;
}

.slideshow__control-wrapper {
  display: flex;
}

.slideshow__autoplay {
  position: absolute;
  right: 0;
  border-left: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 749px) {
  slideshow-component.page-width .slideshow__autoplay {
    right: 1.5rem;
  }
}

@media screen and (min-width: 750px) {
  .slideshow__autoplay.slider-button {
    position: inherit;
    margin-left: 0.6rem;
    padding: 0 0 0 0.6rem;
    border-left: 0.1rem solid rgba(var(--color-foreground), 0.08);
  }
}

.slideshow__autoplay .icon.icon-play,
.slideshow__autoplay .icon.icon-pause {
  display: block;
  position: absolute;
  opacity: 1;
  transform: scale(1);
  transition: transform 150ms ease, opacity 150ms ease;
  width: 0.8rem;
  height: 1.2rem;
}

.slideshow__autoplay .icon.icon-play {
  height: 1rem;
}

.slideshow__autoplay path {
  fill: rgba(var(--color-foreground), 0.75);
}

.slideshow__autoplay:hover path {
  fill: rgb(var(--color-foreground));
}

@media screen and (forced-colors: active) {
  .slideshow__autoplay path,
  .slideshow__autoplay:hover path {
    fill: CanvasText;
  }
}

.slideshow__autoplay:hover .svg-wrapper {
  transform: scale(1.1);
}

.slideshow__autoplay--paused .icon-pause,
.slideshow__autoplay:not(.slideshow__autoplay--paused) .icon-play {
  visibility: hidden;
  opacity: 0;
  transform: scale(0.8);
}
